* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    background-color: rgb(81, 255, 0);
    height: 30px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #b701db;
    text-transform: uppercase;
}

#navbar {
    height: 20px;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#navbar ul li {
    color: rgb(255, 0, 212);
    display: inline-block;
}

h1 {
    color: brown;
}

#heading {
    font-size: larger;
    color: rgba(128, 0, 248, 0.907);
}

#sa {
    color: aqua;
}

p {
    color: blue;
}

.asad {
    color: rgb(218, 178, 18);
}

div p {
    color: rgb(17, 170, 63);
}

h2 {
    color: rgb(6, 47, 252);
}

#first,
#second {
    font-size: 2rem;
    color: rgb(106, 21, 233);
}

#icon {
    height: 200px;
    width: 200px;
    background-image: url(/IMAGES/images.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
}

#bar {
    background-color: rgba(229, 255, 127, 0.735);
    color: rgba(0, 0, 255, 0.724);
}

main {
    background-color: rgba(238, 141, 13, 0.219);
}

#pro {
    height: 100px;
    width: 100px;
    background-image: url(/IMAGES/colin-horn-fR9U2S31Exs-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

#box1 {
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 204);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box2 {
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 26);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box3 {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 208);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#link {
    text-decoration: none;
}

#home h1 {
    color: blue;
    background-color: aqua;
    text-align: center;
}

#outer {
    font-size: 25px;
}

#inner {
    font-size: 10px;
}

#ic {
    color: chocolate;
}

#disk {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    background-color: black;
    height: 200px;
    width: 200px;
}

#button {
    height: 50px;
    width: 50px;
    padding: 10px 15px;
    margin: 100px;
    border: 2px double rgb(22, 6, 255);
    border-radius: 25px;
    background-color: rgb(243, 238, 238);
}