* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#box {
    height: 100px;
    width: 100px;
    background-color: rgb(18, 28, 163);
}

@media screen and (min-width: 750px) and (max-width:900px) {
    #box {
        border-radius: 50%;
        background-color: aqua;
    }
}